.git/
.husky/
.idea/
.next/
.nuget/
.pipelines/
.pipelines-single/
.swc/
.vscode/
.template.config/
__mocks__/
coverage/
cypress/reports/
cypress/videos/
html-report/
node_modules/
public/
styles/
dist/
lib/